html, body{
    font-family: 'Heebo', sans-serif;
}
h1{
    background-color: bisque;
}
.blog-item h3{
font-weight: 500;   
font-size: 30px;
line-height: 44px;
background-color: aquamarine;
color: #21243d;

}
.published-date  {
    background-color: aqua;
}
.tag-name{
    background-color: blueviolet;
}